@model IEnumerable<Vegetables>

<a class="btn btn-outline-primary" asp-controller="Vegetables" asp-action="Create">Add Vegetable</a>
@foreach (var item in Model)
{
   
        <div class="col  mb-1">
            @Html.DisplayFor(modelItem => item.NameVegetables)
            @Html.DisplayFor(modelItem => item.VegetablesUnit)
            @Html.DisplayFor(modelItem => item.VegetablesPrice)
        </div>
        <div class="col  mb-1">
            <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-outline-primary">Edit</a>
            <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-outline-primary">Delete</a>
        </div>
       
       
  

}